
body{
  font-family: 'Dancing Script OT';
  font-size: 16px;
  background: #02010a;
  font-size: 14pt;
  color: white;
  margin: 0;
  }



.link{
  color: white
}



header{
  padding: 15px 0;
  background: #5b7989;
  text-shadow: 2px 2px #02010a;
  border-radius: 10px 10px 0 0;
  }
